<div class="navbar-wrap main-menu d-none d-lg-flex">
  <ul class="navigation">
    <li class="active menu-item-has-children"><a href="#">Home</a>
      <ul class="submenu">
        <li class="active"><a href="index.html">Home One</a></li>
        <li><a href="index-2.html">Home Two</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#">Movie</a>
      <ul class="submenu">
        <li><a href="movie.html">Movie</a></li>
        <li><a href="movie-details.html">Movie Details</a></li>
      </ul>
    </li>
    <li><a href="tv-show.html">tv show</a></li>
    <li><a href="pricing.html">Pricing</a></li>
    <li class="menu-item-has-children"><a href="#">blog</a>
      <ul class="submenu">
        <li><a href="blog.html">Our Blog</a></li>
        <li><a href="blog-details.html">Blog Details</a></li>
      </ul>
    </li>
    <li><a href="contact.html">contacts</a></li>
  </ul>
</div>
