<div class="navbar-wrap main-menu d-none d-lg-flex">
  <ul class="navigation">
    <li class="active menu-item-has-children"><a href="#">Home</a>
      <ul class="submenu">
        <li class="active"><a href="##">Home One</a></li>
        <li><a href="##">Home Two</a></li>
      </ul>
    </li>
    <li class="menu-item-has-children"><a href="#">Movie</a>
      <ul class="submenu">
        <li><a href="##">Movie</a></li>
        <li><a href="##">Movie Details</a></li>
      </ul>
    </li>
    <li><a href="##">tv show</a></li>
    <li><a href="##">Pricing</a></li>
    <li class="menu-item-has-children"><a href="#">blog</a>
      <ul class="submenu">
        <li><a href="##">Our Blog</a></li>
        <li><a href="##">Blog Details</a></li>
      </ul>
    </li>
    <li><a href="/contact/contact.html">contacts</a></li>
  </ul>
</div>
